<h2>Merge Articles</h2>
<form name="input" action="/admin/content/merge" method="post">
<input type="hidden" name="current_article" value=<%=id%> >
Article ID: <input type="text" name="merge_with">
<input type="submit" value="Merge" name="Merge With This Article">
</form>
